@import './variables.scss';
@import './sidebar.scss';
@import './transition.scss';
@import './common.scss';
@import './element.scss';

.desc-item-label {
  width: 20% !important;
}

.upload-demo {
  width: 50%;
  margin: 50px auto;
}
